################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi1/bin/Debug/net6.0
/WebApi1/obj
